body{
    background: linear-gradient(90deg, rgb(41, 138, 139) 0%, rgb(164, 76, 196) 86%);
    color: white;
    
}

h1{
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}

.headerp{
    text-align: center;
    font-size: 18px;
}

div{
    
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    

}

.contact{
    width: 90%;
    background-color: black;
    border-radius: 9px;
    border-width: 3px;
    border-color: white;
    border-width: 1px;
    height: 25px;
    border-style: solid;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;

}

.select{
    height: 25px;
    border-radius: 10px;
}

fieldset{
    font-size: 18px;
    border-width: 0;
}

label{
    display: block;
    margin-top: 8px;
}

textarea{
    border-color: white;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    border-width: 3px;
    height: 60px;
    border-style: solid;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    border-width: 1px;

}


.terms{
    color: white;
}

.terms:hover{
    color: darkgray;
}

.submit{
    width: 80%;
    background-color: #ffffff;
    cursor: pointer;
    height: 30px;
    border-color: white;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border: none;
}

.button{
   
    
    width: 80%;
    background-color: #ffffff;
    cursor: pointer;
    height: 30px;
    border-color: white;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    border: none;
}

.home{
    color: black;
    height: 25px;
    background-color: #ffffff;
}

.home:hover,.submit:hover{
    color: gray;
}

